body {
    font-family: 'Kanit', sans-serif;
}

.sidebar {
    display: block;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

uploadResults {
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

input[type="file"] {
    display: none;
}

label {
    display: block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

label:hover {
    background-color: #2980b9;
}

.fa-upload {
    margin-right: 5px;
}

.filename {
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}

input[type="submit"]:hover {
    background-color: #27ae60;
}

.image-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image-container {
    margin-bottom: 20px; /* Add margin for spacing */
}

.image-actions {
    background-color: #04AA6D;
    width: 22%; /* Adjust width to fill the container */
    text-align: center;
    margin-top: 10px; /* Add margin to separate from the image */
}