body {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-right: 20px;
    margin-left: 20px;
}

#book_header {
    background-color: rgb(238, 255, 0);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}



table, th, td,tr {
    border: 1px solid;
}
